/* Responsive styles for header */

@media screen and (max-width: 1200px) {
  .search-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-bar {
    width: 80%;
    margin-bottom: 10px;
  }

  .search-container_right {
    /* margin-left: 0;
    gap: 8px; */
    display: none;
  }

  .search-container_right button {
    width: auto;
    padding: 6px 12px;
  }

  .friendships-cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cards {
    flex-wrap: wrap;
  }

  .cities-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Адаптив для секции событий */
@media (max-width: 1200px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .event-card h3 {
    font-size: 18px;
  }

  .events-header h2 {
    font-size: 24px;
  }
  .footer-bottom {
    gap: 0;
  }
}

@media (max-width: 1100px) {
  .events-right {
    display: none;
  }
}

@media (max-width: 992px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .event-card {
    margin: 0 auto;
  }

  .event-card h3 {
    font-size: 16px;
  }

  .events-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .events-header h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .see-all-events {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .event-card img {
    width: 100%;
    height: auto;
  }

  .events-header h2 {
    font-size: 20px;
  }

  .location {
    font-size: 18px;
    padding: 6px 18px 4px;
  }
  .footer-middle {
    justify-content: space-evenly;
    gap: 0;
  }
  .footer-legal {
    gap: 0;
  }
  .card {
    width: 100%;
  }
  .text p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .search-container {
    padding: 10px;
  }

  .meet-up {
    margin-bottom: 10px;
  }

  .search-bar {
    width: 100%;
  }

  .location-input {
    text-align: left;
    padding-left: 10px;
  }

  .search-container_right {
    gap: 6px;
  }

  .search-container_right li {
    font-size: 14px;
  }

  .search-container_right button {
    font-size: 14px;
    padding: 4px 10px;
  }

  .categories-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category {
    max-width: 134px;
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .events-left ul {
    flex-wrap: wrap;
  }
  .cards-grid {
    grid-template-columns: auto;
  }
}

@media (max-width: 520px) {
  .footer-legal {
    display: none;
  }
  .platform-image img {
    display: none;
  }
  .platform-content {
    width: 100%;
    max-width: 600px;
    /* margin: 0 auto; */
    text-align: center;
  }
  .platform {
    padding: 98px 0 0 0;
  }
}

@media (max-width: 480px) {
  .events-header h2 {
    font-size: 18px;
    line-height: 28px;
  }

  .location {
    font-size: 16px;
  }
  .event-card {
    width: fit-content;
  }

  .event-card h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .cards-grid {
    display: grid;
  }

  .event-card p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .search-container {
    padding: 5px;
  }

  .search-bar {
    gap: 10px;
  }
  .search-input {
    display: none;
  }

  .search-input-wrapper {
    border-right: none;
    padding: 5px;
  }

  .location-input {
    padding: 5px;
  }

  .search-button {
    padding: 8px;
  }

  .search-container_right {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .search-container_right button {
    width: 100%;
  }
  .join-image {
    display: none;
  }

  .join-content {
    max-width: 100%;
  }
  .footer-middle {
    display: none;
  }
  .render-content {
    display: block;
  }
  .render-content img {
    width: 100%;
    max-width: fit-content;
  }
}
